// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~vuetify/dist/vuetify.min.css';

@import '~@mdi/font/css/materialdesignicons.css'; 


html {
  font-size: 15px;  @media (min-width: 800px) {
    font-size: 18px;
  }  @media (min-width: 1200px) {
    font-size: 20px;
  }
}.title {
  font-size: 1.5rem;
}.body {
  font-size: 1rem;
}